# Config clients.conf build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible

# Access Points

{% for client in clients %}

  client {{ client.name }} {
    shortname                       = {{ client.name }}
    ipaddr                          = {{ client.ip4 }}
    netmask                         = {{ client.netmask|default(netmask) }}
    secret                          = {{ client.secret }}
    require_message_authenticator   = yes
    nastype                         = {{ client.nastype|default(nastype) }}
    virtual_server                  = {{ client.virtual_server|default(virtual_server) }}
  }

{% endfor %}


# Eduroam Entries for the Federation/National Level Radius Servers

{% for flr in flrs %}

  client {{ flr.shortname }} {
    ipaddr                          = {{ flr.ip4 }}
    netmask                         = {{ flr.netmask|default(netmask) }}
    secret                          = {{ flr.secret|default('secret') }}
    require_message_authenticator   = no
    shortname                       = {{ flr.shortname }}
    nastype                         = {{ flr.nastype|default(nastype) }}
    virtual_server                  = {{ flr.virtual_server|default(virtual_server) }}
  }

{% endfor %}