# Config default-eduroam build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible
