# Configs build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible

{% include 'sites_default-eduroam.j2' %}

{% include 'sites_inner-tunnel-eduroam.j2' %}

{% include 'eap.conf.j2' %}

{% include 'proxy.conf.j2' %}

{% include 'clients.conf.j2' %}

{% include 'modules-ldap.j2' %}

{% include 'ldap.attrmap.j2' %}

{% include 'modules-mschap.j2' %}

{% include 'krb5.conf.j2' %}

{% include 'smb.conf.j2' %}

{% include 'users.j2' %}

{% include 'huntgroups.j2' %}
