network={
        ssid="{{ freeradius_ssid| default('example') }}"
        key_mgmt=WPA-EAP
        eap=TTLS
        identity="{{ file.users[0].username }}"
        password="{{ file.users[0].password }}"
        phase2="auth=MSCHAPV2"
}