# Config huntgroups build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible


{% if file.enabled == true %}
{% if file.huntgroups is defined %}

{% for huntgroups in file.huntgroups %}
{{ huntgroups.name }}	{{ huntgroups.attribute }} == {{ huntgroups.value }}
{% endfor %}
{% endif %}
{% endif %}
