# Config /etc/krb5.conf build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible


[libdefaults]
        default_realm = {{ ads.domain }}
        clockskew = 300
        dns_lookup_realm = {{ ads.dns_lookup_realm }}
        dns_lookup_kdc = {{ ads.dns_lookup_kdc }}
        dns_fallback = false
[realms]
{{ ads.domain }} = {
kdc = {{ ads.ad_server }}
default_domain = {{ ads.domain }}
admin_server = {{ ads.ad_server }}
}
[domain_realm]
{{ ads.domain_l }} = {{ ads.domain }}
{{ ads.domain }} = {{ ads.domain }}



