# Config modules-ldap.conf build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible

ldap {
    server = "{{ ldap.server }}"
    identity = "{{ ldap.identity }}"
    password = "{{ ldap.password }}"
    basedn = "{{ ldap.base_dn }}"
    filter = "{{ ldap.filter }}"
    start_tls = no
    user {
      base_dn = "{{ ldap.base_dn }}"
      filter = "(sAMAccountName=%{Stripped-User-Name})"
      scope = 'sub'
    }
    group {
     {% if ldap.groups_base_dn is defined %}
     base_dn = "{{ ldap.groups_base_dn }}"
     {% else %}
     base_dn = "{{ ldap.base_dn }}"
     {% endif %}
     #filter = '(objectClass=posixGroup)'
     scope = 'sub'
     name_attribute = cn
     {% if ldap.groups_nested is defined %}
     {% if ldap.groups_nested is sameas true %}
     membership_filter = "(member:1.2.840.113556.1.4.1941:=%{control:Ldap-UserDn})"
     {% else %}
     membership_filter = "(&(objectClass=groupOfNames)(member=%{control:Ldap-UserDn}))"
     {% endif %}
     {% else %}
     membership_filter = "(&(objectClass=groupOfNames)(member=%{control:Ldap-UserDn}))"
     {% endif %}
     membership_attribute = 'memberOf'
  }
  }