# Config /etc/krb5.conf build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible

[global]
	workgroup = {{ ads.nb_domain }} 
	security = ADS
	realm = {{ ads.domain|upper }} 
	password server = * 
	min protocol = SMB2
    winbind use default domain = no
	idmap uid = 2000-100000000
	idmap gid = 2000-100000000
