# Config users build from {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Config for {{ inventory_hostname|lower }}
# Managed by Ansible

{% if file.reject_without_realm is defined and file.reject_without_realm == true %}
DEFAULT Realm == NULL, Auth-Type := Reject
{% endif %}

{% for users in file.users %}
{% if file.enabled == true %}
{% if users.username == "DEFAULT" %}
{% if users.ldap_group is defined and users.huntgroup is defined %}
{{ users.username }} Ldap-Group == "{{ users.ldap_group }}", Huntgroup-Name == "{{ users.huntgroup }}"
{% elif users.ldap_group is defined and users.clientname is defined %}
{{ users.username }} Ldap-Group == "{{ users.ldap_group }}", Client-Shortname == {{ users.clientname }}
{% elif users.ldap_group is defined %}
{{ users.username }} Ldap-Group == "{{ users.ldap_group }}"
{% elif users.clientname is defined %}
{{ users.username }} Client-Shortname == "{{ users.clientname }}"
{% endif %}
	Service-Type = Framed,
	Tunnel-Type = 13,
	Tunnel-Medium-Type = 6,
	Tunnel-Private-Group-Id = {{ users.vlan_id }},
{% if users.huntgroup_falltrough is defined and users.huntgroup_falltrough is sameas true %}
	Fall-Through = yes
{% else %}
	Fall-Through = no
{% endif %}
{% else %}
{{ users.username }} Cleartext-Password := "{{ users.password }}"
{% endif %}
{% endif %}
{% endfor %}